[Unit]
Description=Run pullgit.service every 10 min

[Timer]
OnCalendar=*:0/10
Persistent=true
Unit=pullgit.service

[Install]
WantedBy=timers.target
