[Unit]
Description=Script triggered by file changes in a folder (including subfolders)

[Service]
ExecStart=/usr/local/bin/pushgit_inotify.sh
Restart=always

[Install]
WantedBy=multi-user.target
